body {
  background-color: #e7e8d1;
}

#playerImage,
#backgroundImage,
#caveImage,
#lvlCompletedImage {
  display: none;
}

#canvas1 {
  position: absolute;
  top: 53%;
  left: 55%;
  transform: translate(-55%, -53%);
  border: 5px solid black;
}

/* Sidebar */
.column {
  font-size: 23px;
  position: fixed;
  top: 45%;
  left: 3%;
  height: 100%;
}

@media only screen and (max-width: 1400px) {
  /* override left value for screens smaller than 768px */
  .column {
    left: 1%;
  }
  #canvas1 {
    position: absolute;
    top: 53%;
    left: 70%;
    transform: translate(-70%, -53%);
    border: 5px solid black;
  }
}

#mov {
  padding-left: 4px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#spacebarImage {
  padding-left: 32px;
  padding-top: 0px;
  margin-top: 0px;
}
